/* body{
    background-color: purple;
  }
*/
  body, html{
    height: 100%;
  }
  .background-box{
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url(hunter.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    margin: -8px;
    padding: 20px;
  }
  .purple-box-stats{
    height: 100%;
    background-color: purple;
    border-top: 2px solid white;
    padding: 10px;
    margin: -8px;
  }
  .purple-box{
    background-color: purple;
    border-top: 2px solid white;
    padding: 10px;
    margin: -8px;
  }
  .purple-box-login{
    background-color: purple;
    border-top: 2px solid white;
    height: 423px;
    padding: 10px;
    margin: -8px;
  }
  .black-box{
    background-color: black;
    width: 80px;
    padding: 15px;
  }
  .gray-box{
    background-color: gray;
    width: 300px;
    padding: 25px;
  }
  .thin-black-border{
    border-color: black;
    border-style: solid;
    border-width: 3px;
  }
  .white-text{
    color: rgb(255, 255, 255);
  }
  .black-text{
    color: black;
  }
  .center-text{
    text-align: center;
  }
  h1{
    font-size: 50px;
  }
  .link-size{
    font-size: 21px;
  }
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  #nav-bar{
    margin: -10px;;
  }
  #comment-box{
    height: 100px;
    width: 800px;
    font-size: 16px;
  }
